#root, body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background: pink; /* Not shown */
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

#title {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 16px 0;
    font-family: system-ui, -apple-system, sans-serif;
}